<div class="intro__news">
  <div class="intro__news__title">
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
      <mat-icon>refresh</mat-icon>
    </button>
    &nbsp;
    <h2 class="mat-subheading-2">Aktuelles</h2>
    &nbsp; | &nbsp;
    <!--mat-chip-listbox>
      <mat-chip-option *ngFor="let filter of filters | keyvalue" [color]="{{filter[1] ? 'accent' : 'none'}}" highlighted>{{filter[0]}}</mat-chip-option>
    </mat-chip-listbox-->
    <a class="" color="primary" mat-flat-button [routerLink]="['/calender']">Kalender</a>
    <a class="" color="primary" mat-flat-button [routerLink]="['/news']">News</a>
  </div>
  <div class="intro__news__list">
    <ng-template #loading>
      <div class="loading">
        Lade Nachrichten
      </div>
    </ng-template>
    <ng-container *ngIf="(items$ | async) as items; else loading">
      <ng-container *ngFor="let item of items">
        <mat-card *ngIf="isEvent(item) as event" class="intro__news__list__item">
          <mat-card-header>
            <div mat-card-avatar class="intro__news__list__item__avatar"><mat-icon>event</mat-icon></div>
            <mat-card-subtitle>{{event.from | date}} - {{event.to | date}}</mat-card-subtitle>
            <mat-card-title>{{event.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="intro__news__list__item__body">
            {{event.text}}
          </mat-card-content>
          <mat-card-actions class="intro__news__list__item__action">
            <mat-chip-listbox>
              <mat-chip-option *ngFor="let roster of event.roster" selectable="false" color="accent" highlighted>{{roster}}</mat-chip-option>
            </mat-chip-listbox>
            <button mat-button>Mehr</button>
          </mat-card-actions>
        </mat-card>
        <mat-card *ngIf="isNews(item) as news" class="intro__news__list__item">
          <mat-card-header>
            <div mat-card-avatar class="intro__news__list__item__avatar"><mat-icon>newspaper</mat-icon></div>
            <mat-card-subtitle>{{news.date | date}}</mat-card-subtitle>
            <mat-card-title>{{news.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="intro__news__list__item__body">
            {{news.text}}
            <!--mat-divider></mat-divider-->
          </mat-card-content>
          <mat-card-actions class="intro__news__list__item__action">
            <mat-chip-listbox>
              <mat-chip-option *ngFor="let roster of news.roster" selectable="false" color="accent" highlighted>{{roster}}</mat-chip-option>
            </mat-chip-listbox>
            <!--button mat-button>Mehr</button-->
          </mat-card-actions>
          <!--mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer-->
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>
<div class="intro__teams">
  <div class="intro__teams__list">
    <ng-template #loadingTeams>
      <div class="loading">
        Lade Teams
      </div>
    </ng-template>
    <ng-container *ngIf="(teams$ | async) as teams; else loadingTeams">
      <ng-container *ngFor="let team of teams">
        <div class="intro__teams__list__item mat-elevation-z2" [ngStyle]="{'background-image': 'url('+team.avatar+')'}">
          <mat-chip class="intro__teams__list__item__title">{{team.name}} - {{team.description}}</mat-chip>
          <a class="intro__teams__list__item__route" color="primary" mat-flat-button [routerLink]="['/roster', team.name]">Zum Team</a>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
